flows.json
[{"id":"d067e57b.8243d8","type":"tab","label":"WS_MA","disabled":false,"info":""},{"id":"638caf6.507ead","type":"mqtt in","z":"d067e57b.8243d8","name":"","topic":"10:52:1C:5C:7F:A4/MA_Ambient1","qos":"2","datatype":"json","broker":"8f06bb8a.86ad6","nl":false,"rap":false,"x":200,"y":200,"wires":[["3b7f926c.477d76"]]},{"id":"3b7f926c.477d76","type":"debug","z":"d067e57b.8243d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"1d3b0a09.feee96","type":"comment","z":"d067e57b.8243d8","name":"Datos granja Mas Almar","info":"A continuación, recibimos los datos de la granja de Mas Almar a traves de WiFi. Principalmente, recibimos información de la granja (temperatura y humedad para el control de ventilación) y vacío y temperatura de la cuba fija.","x":160,"y":120,"wires":[]},{"id":"5d9f7e3e.b0c2a","type":"mqtt in","z":"d067e57b.8243d8","name":"","topic":"10:52:1C:5C:7F:A4/MA_Ambient2","qos":"2","datatype":"json","broker":"8f06bb8a.86ad6","nl":false,"rap":false,"x":200,"y":300,"wires":[["92f8e838.1524d8"]]},{"id":"92f8e838.1524d8","type":"debug","z":"d067e57b.8243d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"d84a6d1e.ec041","type":"mqtt in","z":"d067e57b.8243d8","name":"","topic":"10:52:1C:5C:7F:A4/Oficina1","qos":"2","datatype":"json","broker":"8f06bb8a.86ad6","nl":false,"rap":false,"x":180,"y":460,"wires":[["dc1d524c.45ecc"]]},{"id":"dc1d524c.45ecc","type":"debug","z":"d067e57b.8243d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":460,"wires":[]},{"id":"4ce763f7.84065c","type":"mqtt in","z":"d067e57b.8243d8","name":"","topic":"10:52:1C:5C:7F:A4/Oficina2","qos":"2","datatype":"json","broker":"8f06bb8a.86ad6","nl":false,"rap":false,"x":180,"y":540,"wires":[["d77b9055.ea821"]]},{"id":"d77b9055.ea821","type":"debug","z":"d067e57b.8243d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":540,"wires":[]},{"id":"4ea14357.a91f1c","type":"mqtt in","z":"d067e57b.8243d8","name":"","topic":"10:52:1C:5C:7F:A4/Oficina3","qos":"2","datatype":"json","broker":"8f06bb8a.86ad6","nl":false,"rap":false,"x":180,"y":620,"wires":[["1550c31b.e013cd"]]},{"id":"1550c31b.e013cd","type":"debug","z":"d067e57b.8243d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":620,"wires":[]},{"id":"7bf4b2bb.dd052c","type":"mqtt in","z":"d067e57b.8243d8","name":"","topic":"10:52:1C:5C:7F:A4/Oficina4","qos":"2","datatype":"json","broker":"8f06bb8a.86ad6","nl":false,"rap":false,"x":180,"y":700,"wires":[["8d122a6e.40b8f8"]]},{"id":"8d122a6e.40b8f8","type":"debug","z":"d067e57b.8243d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":700,"wires":[]},{"id":"783e42dd.61c86c","type":"comment","z":"d067e57b.8243d8","name":"Datos oficinas planta producción","info":"A continuación, recibimos los datos de la granja de Mas Almar a traves de WiFi. Principalmente, recibimos información de la granja (temperatura y humedad para el control de ventilación) y vacío y temperatura de la cuba fija.","x":190,"y":420,"wires":[]},{"id":"b8fc6e05.c32f7","type":"mqtt in","z":"d067e57b.8243d8","name":"","topic":"10:52:1C:5C:7F:A4/MA_Tank","qos":"2","datatype":"json","broker":"8f06bb8a.86ad6","nl":false,"rap":false,"x":760,"y":200,"wires":[["cf8b1219.49452"]]},{"id":"cf8b1219.49452","type":"debug","z":"d067e57b.8243d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":200,"wires":[]},{"id":"8f06bb8a.86ad6","type":"mqtt-broker","name":"broker_iiot","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""}]